<div class="container container-padding-top">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1 class="title-section">Inscription</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group field">
                <label>Nom</label>
                <%= f.text_field :nom, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group field">
                <label>Prénom</label>
                <%= f.text_field :prenom, :class => 'form-control' %>
              </div>
            </div>
          </div>

        <div class="form-group field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
        </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group field">
              <label>Mot de passe</label>
              <% if @minimum_password_length %>
                  <em>(min. 6 caractères)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
            </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group field">
                <label>Confirmation du mot de passe</label>
                <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
              </div>
            </div>
          </div>

        <div class="form-group field">
          <%= f.label :presentation %><br />
          <%= f.text_area :presentation, :class => 'form-control' %>
        </div>

          <div class="row">
            <div class="col-lg-8">
              <div class="form-group field">
                <label>Modéle du véhicule</label>
                <%= f.text_field :vehicule_type, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group field">
                <label>Année</label>
                <%= f.text_field :vehicule_annee, :class => 'form-control' %>
              </div>
            </div>

          </div>

        <div class="actions boutons-formulaire">
          <%= f.submit "Inscription", :class => 'btn btn-primary'  %>
        </div>
      <% end %>
      <div class="liens-formulaire">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>