<div class="container container-padding-top">
  <div class="row">
    <div class="col-lg-3">
      <div class="form-recherche">
        <h1 class="title-section">Recherche</h1>
        <%= form_tag("/search", method: "get") do %>

            <div class="form-group field">
              <%= label_tag(:ville_depart, "Ville de départ") %>
              <%= text_field_tag :ville_depart, @ville_depart, class: 'form-control' %>
            </div>
            <div class="form-group field">
              <%= label_tag(:ville_destination, "Ville de destination") %>
              <%= text_field_tag :ville_destination, @ville_destination, class: 'form-control' %>
            </div>
            <div class="form-group field form-date">
              <%= label_tag(:horaire_depart, "Jour de départ : ") %>
              <div>
                <%= select_tag "year", options_for_select(2010..2099, @year_depart)  %>
               <%= select_tag "month", options_for_select(1..12, @month_depart) %>
               <%= select_tag "day", options_for_select(1..31, @day_depart) %>
              </div>
            </div>
            <div class="actions">
              <%= submit_tag("Rechercher", :class => "btn btn-primary") %>
            </div>

        <% end %>
      </div>
    </div>
    <div class="col-lg-8 offset-md-1">
      <h1 class="title-section">Trajets correspondants</h1>

      <% if @trajet && !@trajet.empty?
           @trajet.each do |trajet| %>
          <div class="trajet-elem">
            <%= trajet.ville_depart %>
            <%= trajet.ville_destination %>
            <%= trajet.horaire_depart %>
            <%= link_to 'Détails du trajet', member_trajet_path(trajet.member_id,trajet) %>
          </div>
      <% end
      else %>
          <div class="alert alert-danger" role="alert">
            <%= @error %>
          </div>
      <%end%>
    </div>
  </div>
</div>