<% if member_signed_in? %>
<div class="container container-padding-top">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="title-section title-inline">Voyageur</h1>
      <%= link_to 'Rechercher un covoiturage', search_index_path, :class => 'btn btn-primary btn-nouveau-trajet' %>
    </div>
      <% if !current_member.trajets_passager.empty? %>
        <% @trajetsPassager.each do |trajet| %>
            <div class="col-lg-6">
              <div class="trajet-elem">
                <h2>De <%= trajet.ville_depart %> à <%= trajet.ville_destination %></h2>
                <p><i class="fa fa-calendar"></i> <%= trajet.horaire_depart %></p>
                <p><i class="fa fa-circle"></i> J'ai réservé <%= trajet.nb_places_reservees %> places</p>
                <div class="trajet-elem-buttons">
                  <div class="row">
                    <div class="col-lg-6">
                      <%= link_to "Détails du trajet", [current_member, trajet], :class => 'btn btn-secondary' %>
                    </div>
                    <div class="col-lg-6">
                      <%= link_to "Annuler ma réservation", member_trajet_reservation_path(trajet.member, trajet), method: :delete, data: { confirm: "Confirmez l'annulation de votre réservation'" }, :class => 'btn btn-danger' %>
                    </div>
                  </div>
                  </div>
              </div>
            </div>
        <% end %>
    <% else %>
        <div class="col-lg-12"><p>Vous n'avez aucun covoiturage à venir en tant que passager</p></div>
    <% end %>
    <div class="col-lg-12 margin-top">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="title-section title-inline">Conducteur</h1>
          <%= link_to 'Proposer un nouveau trajet', new_member_trajet_path(current_member), :class => 'btn btn-primary btn-nouveau-trajet' %>
        </div>
        <% if !current_member.trajets_passager.empty? %>
          <% @trajetsConducteur.each do |trajet| %>
              <div class="col-lg-6">
                <div class="trajet-elem">
                  <h2>De <%= trajet.ville_depart %> à <%= trajet.ville_destination %></h2>
                  <p><i class="fa fa-calendar"></i> <%= trajet.horaire_depart %></p>
                  <p><i class="fa fa-circle"></i> <%= trajet.nb_places_reservees %> places réservées sur <%= trajet.nb_places_totales %></p>
                  <div class="trajet-elem-buttons">
                    <div class="row">
                      <div class="col-lg-6">
                        <%= link_to "Détails du trajet", [current_member, trajet], :class => 'btn btn-secondary' %>
                      </div>
                      <div class="col-lg-6">
                        <%= link_to "Supprimer le trajet", member_trajet_path(current_member, trajet), method: :delete, data: { confirm: "Confirmez la suppression définitive du trajet" }, :class => 'btn btn-danger' %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        <% else %>
          <div class="col-lg-12"><p>Vous n'avez aucun covoiturage à venir en tant que conducteur</p></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>