<div class="container container-padding-top">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <h1 class="title-section">Nouveau trajet</h1>

      <%= form_with scope: :trajet, url: member_trajets_path, local: true do |form| %>
          <div class="form-group field">
            <%= form.label :ville_depart, 'Ville de départ' %><br>
            <%= form.text_field :ville_depart, :class => 'form-control' %>
          </div>
          <div class="form-group field">
            <%= form.label :ville_destination, 'Ville de destination' %><br>
            <%= form.text_field :ville_destination, :class => 'form-control' %>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group field">
                <%= form.label :nb_places_totales, 'Nombre de places' %><br>
                <%= form.select :nb_places_totales, options_for_select(1..9), {}, {class: "form-control"} %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group field">
                <%= form.label :prix, 'Prix par passager en $CAD' %><br>
                <%= form.number_field :prix, :class => 'form-control' %>
              </div>
            </div>
          </div>
          <div class="form-group field form-date">
            <%= form.label :horaire_depart, 'Date et heure de départ' %><br>
            <%= form.datetime_select :horaire_depart, :ampm => false, :minute_step => 15 %>
          </div>
          <div class="form-group field form-date">
            <%= form.label :dimension_valise, 'Bagages autorisés' %><br>
            <%= form.select :dimension_valise, ['Aucun', 'Petit sac à dos', 'Moyenne valise', 'Grande valise'], {}, {class: "form-control"} %>
          </div>
          <div class="actions actions-large">
            <%= form.submit 'Valider', :class => 'btn btn-primary' %>
          </div>
      <% end %>

    </div>
  </div>
</div>
