<div class="container container-padding-top">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="title-section">Trajet de <%= @trajet.ville_depart %> à <%= @trajet.ville_destination %></h1>
    </div>
    <div class="col-sm-6">
      <div class="row section-informations">
        <div class="col-lg-6">
          <p><i class="fa fa-calendar"></i>  <%= @trajet.horaire_depart %></p>
        </div>
        <div class="col-lg-6">
          <p><i class="fa fa-car"></i> <%= @member.vehicule_type %> <%= @member.vehicule_annee %></p>
        </div>
        <div class="col-lg-6">
          <p><i class="fa fa-male"></i>  <%= @trajet.nb_places_totales%> places</p>
        </div>
        <div class="col-lg-6">
          <p><i class="fa fa-suitcase"></i> Petite valise</p>
        </div>
        <div class="col-lg-6">
          <p><i class="fa fa-paw"></i> Animeaux refusés</p>
        </div>
        <div class="col-lg-6">
          <p><i class="fa fa-thermometer-half"></i> Air climatisé</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="section-reservation">
        <% if current_member != nil && @trajet.member_id != current_member.id %>
        <h2>$5 CAD par voyageur</h2>
            Trajet proposé par  <%= @member.prenom %> <%= @member.nom %>
            <%= link_to "Voir son profil", member_path(@member), target: :_blank %>
            <div>
              <%= form_tag("/members/#{@member.id}/trajets/#{@trajet.id}/reservation", method: "get") do %>
                  <div class="form-group field">
                    <%= label_tag(:nb_places, "Nombre de passagers") %>
                    <%= text_field_tag :nb_places, 1, class: 'form-control' %>
                  </div>
                  <div class="form-group field field-invisible">
                    <%= text_field_tag :trajet, @trajet.id, class: 'form-control' %>
                  </div>
                  <%= submit_tag("Réserver", :class => "btn btn-primary") %>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if current_member != nil && @trajet.member_id == current_member.id %>
  <p>Supprimer le trajet</p>
<% end %>
<%= link_to "Retour à la liste des trajets", :back %>
