<div class="container container-padding-top">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="title-section">Trajet de <%= @trajet.ville_depart %> à <%= @trajet.ville_destination %></h1>
    </div>
    <div class="col-sm-6">
      <div class="row section-informations">
        <div class="col-lg-6">
          <p><i class="fa fa-calendar"></i>  <%= @trajet.horaire_depart %></p>
        </div>
        <div class="col-lg-6">
          <p><i class="fa fa-car"></i> <%= @member.vehicule_type %> <%= @member.vehicule_annee %></p>
        </div>
        <div class="col-lg-6">
          <p><i class="fa fa-male"></i>  <%= @trajet.nb_places_totales%> places</p>
        </div>
        <div class="col-lg-6">
          <p><i class="fa fa-suitcase"></i> <%= @trajet.dimension_valise %></p>
        </div>
        <div class="col-lg-6">
          <%=
            case @member.preference_animaux
              when 0
                image_tag "noanimaux.PNG"
              when 1
                image_tag "animaux.PNG"
              when 2
                image_tag "lotanimaux.PNG"
              end
            %>
        </div>
        <div class="col-lg-6">
          <%=
            case @member.preference_musique
              when 0
                image_tag "nomusique.PNG"
              when 1
                image_tag "musique.PNG"
              when 2
                image_tag "lotmusique.PNG"
            end
          %>
        </div>
        <div class="col-lg-6">
          <%=
            case @member.preference_cigarette
              when 0
                image_tag "nocigarette.PNG"
              when 1
                image_tag "cigarette.PNG"
              when 2
                image_tag "lotcigarette.PNG"
            end
          %>
        </div>
        <div class="col-lg-6">
          <%=
            case @member.preference_discussion
              when 0
                image_tag "nodiscussion.PNG"
              when 1
                image_tag "discussion.PNG"
              when 2
                image_tag "lotdiscussion.PNG"
            end
          %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="section-reservation">
        <h2>$<%= @trajet.prix %> CAD par voyageur</h2>
        <% if current_member != nil && @trajet.member_id != current_member.id %>
            <% if @nbPlacesRestantes > 0 %>
              <div>
                <%= form_tag("/members/#{@member.id}/trajets/#{@trajet.id}/reservation", method: "get") do %>
                    <div class="form-group field field-nb-places">
                      <span>Je souhaite réserver</span>
                      <%= select_tag(:nb_places, options_for_select(1..@nbPlacesRestantes), class: 'form-control') %>
                      <span>places</span>
                    </div>
                    <div class="form-group field field-invisible">
                      <%= text_field_tag :trajet, @trajet.id, class: 'form-control' %>
                    </div>
                    <%= submit_tag("Continuer", :class => "btn btn-primary") %>
                <% end %>
              </div>
            <% else %>
              <div>
                <button class="btn btn-secondary" disabled>
                  Réservation impossible - Véhicule complet
                </button>
              </div>
            <% end %>
        <% elsif current_member == nil %>
            <%= link_to "Se connecter pour réserver", new_member_session_path, :method => :get, :class => 'btn btn-primary' %>
        <% end %>
      </div>

      <div class="section-conducteur">
        <% if (current_member == nil) || (current_member != nil && @trajet.member_id != current_member.id) %>
          Trajet proposé par  <%= @member.prenom %> <%= @member.nom %>
          <%= link_to "Voir son profil", member_path(@member), target: :_blank %>
        <% else %>
          <h2>Réservations</h2>
            <% if @covoiturages.size == 0 %>
              <p>Aucune places réservée pour le moment</p>
            <% end %>
          <% @covoiturages.each do |covoiturage|%>
              <p>
                <%= link_to "#{covoiturage.member.prenom} #{covoiturage.member.nom}", member_path(covoiturage.member), target: :_blank %>
                à réservé <%= covoiturage.nb_places %> place(s)
              </p>
          <% end %>
          <div class="actions boutons-formulaire">
            <% if current_member != nil && @trajet.member_id == current_member.id %>
              <%= link_to "Supprimer le trajet", member_trajet_path(@member, @trajet), method: :delete, data: { confirm: "Confirmez la suppression définitive du trajet" }, :class => 'btn btn-danger' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-lg-12">
      <%= link_to "Retour à la liste des trajets", :back %>
    </div>
  </div>
</div>
