<%= form_tag("#", method: "post") do %>

    <div class="field form-group">
      <label>Avis</label><br />
      <%= text_area_tag(:avis, "Votre avis") %>
    </div>

    <div class="form-group field">
      <%= label_tag(:note, "Note : ") %>
      <%= select_tag "note", options_for_select(1..5) %>
    </div>

    <div class="actions boutons-formulaire">
      <%= submit_tag "Enregistrer", :class => 'btn btn-primary'  %>
    </div>

<% end %>
