<% if member_signed_in? %>
    <div class="container container-padding-top">
      <%= render partial: "submenu", :locals => {:member_id => @member }  %>

      <div class="row justify-content-center ">
        <div class="col-sm-8">
          <h1 class="title-section">Changer l'image de profil</h1>
           <%= form_tag("#", method: "post", multipart: true) do  %>
             <%= file_field_tag 'picture', class: 'file' %>
             <%= submit_tag("envoyer") %>
           <% end %>
           <div class="row btn-retour-profil">
             <%= link_to "Retour au profil", :back %>
           </div>
        </div>
      </div>
    </div>

<% end %>