<div class="container">

  <%= render partial: "submenu", :locals => {:member_id => @member }  %>

  <div class="row">
    <h1 class="title-lv1 border-bottom margin-bottom">Préférences</h1>
  </div>

  <div class="row">
    <%= form_tag("#", method: "post") do %>
      <div class="row">
        <div class="col ">
          <i class="fa fa-comments fa-3x"></i>
        </div>
        <div class="col ">
          <%= radio_button_tag 'preference_discussion', "0", !!( @member.preference_discussion == 0), class: "radio" %>
          <%= label_tag 'preference_discussion_0', '0', class: 'label', "data-toggle": 'tooltip', "data-placement": 'top', "title": "Vous ne m'entendrez pas beaucoup" %>
        </div>
        <div class="col ">
          <%= radio_button_tag 'preference_discussion', "1", !!( @member.preference_discussion == 1), class: "radio" %>
          <%= label_tag 'preference_discussion_1', '1', class: 'label', "data-toggle": 'tooltip', "data-placement": 'top', "title": "Je suis parfois d'humeur bavarde" %>
        </div>
        <div class="col ">
          <%= radio_button_tag 'preference_discussion', "2", !!( @member.preference_discussion == 2), class: "radio" %>
          <%= label_tag 'preference_discussion_2', '2', class: 'label', "data-toggle": 'tooltip', "data-placement": 'top', "title": "J'aime bien discuter" %>
        </div>
      </div>
      <div class="row">
        <div class="col ">
          <i class="fa fa-magic fa-3x"></i>
        </div>
        <div class="col ">
          <%= radio_button_tag 'preference_cigarette', "0", !!( @member.preference_cigarette == 0), class: "radio" %>
          <%= label_tag 'preference_cigarette_0', '0', class: 'label', "data-toggle": 'tooltip', "data-placement": 'top', "title": "La cigarette me dérange" %>
        </div>
        <div class="col ">
          <%= radio_button_tag 'preference_cigarette', "1", !!( @member.preference_cigarette == 1), class: "radio" %>
          <%= label_tag 'preference_cigarette_1', '1', class: 'label', "data-toggle": 'tooltip', "data-placement": 'top', "title": "Ca dépend des jours" %>
        </div>
        <div class="col ">
          <%= radio_button_tag 'preference_cigarette', "2", !!( @member.preference_cigarette == 2), class: "radio" %>
          <%= label_tag 'preference_cigarette_2', '2', class: 'label', "data-toggle": 'tooltip', "data-placement": 'top', "title": "La cigarette ne me dérange pas" %>
        </div>
      </div>
      <div class="row">
        <div class="col ">
          <i class="fa fa-music fa-3x"></i>
        </div>
        <div class="col ">
          <%= radio_button_tag 'preference_musique', "0", !!( @member.preference_musique == 0), class: "radio" %>
          <%= label_tag 'preference_musique_0', '0', class: 'label', "data-toggle": 'tooltip', "data-placement": 'top', "title": "Je n'écoute pas de musique en voiture" %>
        </div>
        <div class="col ">
          <%= radio_button_tag 'preference_musique', "1", !!( @member.preference_musique == 1), class: "radio" %>
          <%= label_tag 'preference_musique_1', '1', class: 'label', "data-toggle": 'tooltip', "data-placement": 'top', "title": "Des fois oui, des fois non" %>
        </div>
        <div class="col ">
          <%= radio_button_tag 'preference_musique', "2", !!( @member.preference_musique == 2), class: "radio" %>
          <%= label_tag 'preference_musique_2', '2', class: 'label', "data-toggle": 'tooltip', "data-placement": 'top', "title": "J'aime bien écouter de la musique" %>
        </div>
      </div>
      <div class="row">
        <div class="col ">
          <i class="fa fa-paw fa-3x"></i>
        </div>
        <div class="col ">
          <%= radio_button_tag 'preference_animaux', "0", !!( @member.preference_animaux == 0), class: "radio" %>
          <%= label_tag 'preference_animaux_0', '0', class: 'label', "data-toggle": 'tooltip', "data-placement": 'top', "title": "Je ne veux pas voyager avec un animal" %>
        </div>
        <div class="col ">
          <%= radio_button_tag 'preference_animaux', "1", !!( @member.preference_animaux == 1), class: "radio" %>
          <%= label_tag 'preference_animaux_1', '1', class: 'label', "data-toggle": 'tooltip', "data-placement": 'top', "title": "En fonction de l'animal" %>
        </div>
        <div class="col ">
          <%= radio_button_tag 'preference_animaux', "2", !!( @member.preference_animaux == 2), class: "radio" %>
          <%= label_tag 'preference_animaux_2', '2', class: 'label', "data-toggle": 'tooltip', "data-placement": 'top', "title": "Je n'ai rien contre les animaux" %>
        </div>
      </div>

      <div class="actions boutons-formulaire">
        <%= submit_tag "Mettre à jour les préférences", :class => 'btn btn-primary'  %>
      </div>

    <% end %>
  </div>



  <div class="row btn-retour-profil">
    <%= link_to "Retour au profil", :back %>
  </div>


</div>