<div class="container profil-container">
  <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="profil-picture-container">
            <div class="profil-picture">
              <% if @member.image %>
                  <%= image_tag (Rails.root+"app/assets/images/profil/"+@member.image)%>
              <% else %>
                  <img src="https://pbs.twimg.com/profile_images/847889302025637889/xnqhPM_L_400x400.jpg">
            <% end %>
            </div>
          </div>
          <div class="profil-details-container">
            <h2>Informations</h2>
            <p><span>Ville:</span> <%= @member.ville %></p>
            <p><span>Véhicule:</span> <%= @member.vehicule_type %></p>
            <p><span>Année:</span> <%= @member.vehicule_annee %></p>
          </div>
          <div class="profil-conf-container">
            <% if current_member != nil && @member.id == current_member.id %>
                <h2>Configuration</h2>
                <p><%= link_to "Mettre à jours mon profil", edit_member_registration_path, class: 'btn btn-primary' %></p>
                <p><%= link_to "Supprimer mon compte", member_suppression_url(@member.id), class: 'btn btn-danger' %></p>
            <% end %>
          </div>
        </div>
        <div class="col-lg-8">
          <h1 class="title-section"><%= @member.prenom %> <%= @member.nom %></h1>
          <div class="presentation">
            <p><%= @member.presentation %></p>
          </div>
          <div class="note">
            <i class="fa fa-star" aria-hidden="true"></i>
            <% if @moyenneNotes >= 1 %>
                <span>La note moyenne de conducteur est de <%= @moyenneNotes %>/5</span>
            <% else %>
                <span>L'utilisateur n'a pas encore de note moyenne</span>
            <% end %>
          </div>
          <div class="avis">
            <i class="fa fa-comments"></i>
            <% if @moyenneNotes >= 1 %>
              <span>Avis sur le conducteur</span>
            <% else %>
                <span>L'utilisateur n'a pas encore d'avis de la part de ses passagers</span>
            <% end %>
            <div class="row">
              <% @member.trajets.each do |trajet| %>
                  <% trajet.reservations.each do |reservation| %>
                      <div class="col-lg-5 offset-lg-1 avis-elem">
                        <div class="row">
                          <div class="col">
                            <p>
                              <% if reservation.note == 1 %>
                                  <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                            <% end %>
                              <% if reservation.note == 2 %>
                                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                            <% end %>
                              <% if reservation.note == 3 %>
                                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                              <% end %>
                              <% if reservation.note == 4 %>
                                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i>
                              <% end %>
                              <% if reservation.note == 5 %>
                                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <% end %>

                              <i class="avis-member"><%= link_to "#{reservation.member.prenom} #{reservation.member.nom}", member_path(reservation.member), target: :_blank %></i>

                            </p>
                            <p>
                              <i><%= reservation.avis %></i>
                            </p>
                          </div>
                        </div>
                      </div>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
  </div>
</div>