<div class="container profil-container">
  <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="profil-picture-container">
            <div class="profil-picture">
              <img src="http://cdn.cnn.com/cnnnext/dam/assets/161010191224-barack-obama-hedshot-large-169.jpg">
            </div>
          </div>
          <div class="profil-details-container">
            <h2>Informations</h2>
            <p><span>Age:</span> 21 ans</p>
            <p><span>Ville:</span> Chicoutimi</p>
            <p><span>Véhicule:</span> <%= @member.vehicule_type %></p>
            <p><span>Année:</span> <%= @member.vehicule_annee %></p>
          </div>
          <div class="profil-conf-container">
            <% if current_member != nil && @member.id == current_member.id %>
                <h2>Configuration</h2>
                <p><%= link_to "Mettre à jours mon profil", edit_member_registration_path %></p>
                <p><%= link_to "Supprimer mon compte", edit_member_registration_path %></p>
            <% end %>
          </div>
        </div>
        <div class="col-lg-8">
          <h1><%= @member.prenom %> <%= @member.nom %></h1>
          <div class="presentation">
            <p><%= @member.presentation %></p>
          </div>
          <div class="statistiques">
            <p>15 covoiturages depuis le 12/01/2015</p>
            <p>* * * * * Moyenne de 4,7/5</p>
          </div>
        </div>

  </div>
</div>